:root {
  --open-sans-family: "Open Sans", sans-serif;
  --teko-family: "Teko", sans-serif;

  --white-color: #ffffff;
  --dg-color: #141414;
  --brown-color: #99823d;
  --black-color: #0000;
  --lg-color: #ebebeb;
  --red-color: #e63946;
  --lw-color: rgba(255 255 255 0.4);
  --grey-color: #3d3d3d;
  --golden-color: #a68f4b;
  --mw-color: rgba(255 255 255 0.75);
  --light-color: #e5e5e5;
}

.site-width {
  width: 1440px;

  margin: 0 auto;
  padding: 0;
}

.heart {
  fill: #e63946;
}

.top-img {
  width: 978px;
  height: 591px;
  background-image: url(./images/sec1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.brown-rect {
  width: 489px;
  height: 329px;
  background-color: var(--brown-color);
  z-index: 2;
}

.photo-list {
  list-style: none;

  display: flex;
  gap: 34px;
}

.photo-items{
  width: 412px;
  height: 342px;

  position: relative;
}

.top-left {
  color: var(--white-color);
  font-family: var(--open-sans-family);
  font-size: 11px;
  font-weight: 400;

  letter-spacing: 2.7px;
  line-height: 16.3px;

  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 103px;
  height: 34px;

  background-color: var(--dg-color);

  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.bot-left {
  color: var(--white-color);
  font-family: var(--teko-family);
  font-weight: 400;
  font-size: 26px;

  width: 378px;
  height: 68px;

  display: flex;
  justify-content: center;

  background-color: var(--dg-color);

  padding-top: 15px;

  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bot-right {
  color: var(--white-color);
  font-family: var(--open-sans-family);
  font-size: 11px;
  font-weight: 400;

  letter-spacing: 2.8px;
  line-height: 34px;
  text-transform: uppercase;

  width: 206px;
  height: 102px;

  display: flex;
  justify-content: center;

  background-color: var(--brown-color);

  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-img {
  width: 412px;
  height: 342px;
  background-image: url(./images/stairs.jpeg);

  background-repeat: no-repeat;

  z-index: 3;
}

.bg-img2 {
  width: 412px;
  height: 342px;
  background-image: url(./images/back.jpeg);

  background-repeat: no-repeat;

  z-index: 3;
}

.bg-img3 {
  width: 412px;
  height: 342px;
  background-image: url(./images/living.jpeg);

  background-repeat: no-repeat;

  z-index: 3;
}
